<div class="col-12 content-center">
  <h1>Login</h1>
</div>
<div class="col-12 content-center">
  <mat-form-field appearance="outline" class="input">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="username.value" [formControl]="username" id="username">
    <mat-error *ngIf="username.errors && username.errors.required">Username is required.</mat-error>
    <mat-error *ngIf="username.errors && username.errors.email">The input value is not a valid email address.</mat-error>
    <mat-error *ngIf="username.errors && username.errors.maxlength">The max length is 30.</mat-error>
  </mat-form-field><br />
  <mat-form-field appearance="outline" class="input">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password.value" [formControl]="password" id="password">
    <mat-error *ngIf="password.errors && password.errors.required">Password is required.</mat-error>
    <mat-error *ngIf="password.errors && password.errors.maxlength">The max length is 30.</mat-error>
  </mat-form-field><br/>
  <div style="width: 30%; margin-left: 35%;">
    <button mat-button (click)="login()" color="primary" class="button">Login</button>
    <button mat-button (click)="register()" color="primary" class="button">Register</button>
    <button mat-button (click)="clear()" color="accent" class="button">Cancel</button>
  </div>
</div>
