<app-header [title]="title"></app-header>
<div class="col-12 content-center">
  <div class="left">Company Name:&nbsp; &nbsp;</div>
  <div class="right">{{companyName}}</div><br/>
  <div class="left">Stock Exchange:&nbsp; &nbsp;</div>
  <div class="right">{{stockExchange}}</div><br />
  <div class="left">Number of Records:&nbsp; &nbsp;</div>
  <div class="right">{{numberOfRecords}}</div><br />
  <div class="left">From Date:&nbsp; &nbsp;</div>
  <div class="right">{{fromDate}}</div><br />
  <div class="left">To Date:&nbsp; &nbsp;</div>
  <div class="right">{{toDate}}</div>
</div>
