<div class="columns mat-elevation-z4">
  <div class="column col-2">
    <button mat-button color="primary" class="nav-button">Stock Exchange Charting</button>
  </div>
  <ng-container *ngIf="authenticated">
    <div class="column col-2" *ngIf="isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/stock-exchange">Manage Exchanges</a>
    </div>
    <div class="column col-2" *ngIf="isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/company">Manage Companies</a>
    </div>
    <div class="column col-2" *ngIf="isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/company/import-price">Import Data</a>
    </div>
    <div class="column col-2" *ngIf="!isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/company">Companies</a>
    </div>
    <div class="column col-2" *ngIf="!isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/company/list-ipo">IPOs</a>
    </div>
    <div class="column col-2" *ngIf="!isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/company/compare-companies">Compare Companies</a>
    </div>
    <div class="column col-2" *ngIf="!isAdmin">
      <a mat-button color="primary" class="nav-button" routerLink="/update-profile">Update Profile</a>
    </div>
    <div class="column col-2">
      <a mat-button color="primary" class="nav-button" (click)="logout()">Logout</a>
    </div>
  </ng-container>
</div>
